<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Formulaire</title>
</head>

<body>
  <form action="/envoyer" method="post">
      <div>
          <table>
              <tr>
                  <td><label for="nom">Nom :</label></td>
                  <td><input type="text" id="nom" name="nom" size="40"></td>
              </tr>
              <tr>
                  <td><label for="prenom">Prenom :</label></td>
                  <td><input type="text" id="prenom" name="prenom" size="40"</td>
              </tr>
              <tr>
                  <td><label for="courriel">Courriel :</label></td>
                  <td><input type="text" id="courriel" name="courriel" size="40"</td>
              </tr>
              <tr>
                  <td><label for="courrielconf">COnfirmation du courriel :</label></td>
                  <td><input type="text" id="courrielconf" name="courrielconf" size="40"</td>
              </tr>
              <tr>
                  <td><label for="motdepasse">Mot de passe :</label></td>
                  <td><input type="password" id="motdepasse" name="motdepasse" size="40"</td>
              </tr>
              <tr>
                 <td><input type="submit" value="Envoyer"></td>
              </tr>
</body>
